.add_form form{
    border: 2px solid green;
    margin: 20px 300px;
    padding: 60px 40px;
}

.font-weight-bold{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
}

.login_form form{
    border: 2px solid blueviolet;
    margin: 100px 300px;
    padding: 60px 40px;
}

.user_section{
    border: 2px solid gray;
    margin: 20px 30px;
    padding: 10px 10px;
    border-radius: 1rem;
}